// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: #550C18;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F67A04;
$green: #1EDD88;
$gray: #575A5E;
$light-gray: #F4F4F4;
$white: #f4f7f5ea;
$almost-black: #2E2836;
$pale-pink: #F7DAD9;
$ligth-blue: #9ED0E6;
$lavender: #AC7B84;
$deep-space: #4A6670;

