
.container {
  width: 45%;
  margin-top: 40px;
}
.body-container {
  display: flex;
  align-items: center;
}

.card-grid {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}
.card-remove-link {
  color: white;

height: 0.5em;
width: 0.5em;
opacity: 0.8;
font-weight: lighter;
&:hover {
  color: $deep-space;
  text-decoration: none;
  opacity: 1;
}
}
.card-description{
  background-color: $white;
}
.card-add-link {
  color: $white;
  border-radius: 50%;
  border: 1px solid $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  left: 10px;
  top: 10px;
  opacity: 0.8;
font-weight: lighter;
&:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}
}
.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1em;
  min-width: 10em;
  margin: 1em;
}

// To stretch the link on top of the card div
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white;
}
.card-img {
  width: 8em;
  height: 11em;;
}
.card-body {
  padding: 0;
  p {
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .card-text {
    margin-top: 1rem;
  }
}

// // Smallest device
@media (min-width: 100px) and (max-width: 610px) {
    .body-container {
    flex-direction: column;
  }
  .card-grid {
    justify-content: center;
    flex-direction: column;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 895px) {
  .card-category {
    width: 40%;
  }
}
