<div class="container my-5" style="width: 30%">
  <h1>New Title</h1>
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="title" class="sr-only">Title</label>
      <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
</div>
<%= link_to 'Back', series_index_path %>